@model IEnumerable<JobListings.Models.JobListing>

@{
    ViewData["Title"] = "Job Listings";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
                    @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Details</a> 
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
*@
<div class="space-y-2">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id" class="block px-4 py-6 border border-gray-200 rounded-md">
                <div class="font-bold text-blue-500 text-sm">
                    <p>@item.Company</p>
                </div>
                <div>
                    <strong>@item.Title</strong>: Pays @item.Salary / year.
                </div>        
            </a>
        }
        </div>

</body>
</html>

















